@* @model PT_Management_System_V2.Models.WorkoutExercisesModel *@
@model PT_Management_System_V2.Models.WorkoutExerciseModel

<link rel="stylesheet" href="~/css/createWorkout.css" />

<h4>WorkoutExercisesModel</h4>
<hr />

<h1>Timer</h1>
<div class="container">
    <div id="time">
@*         <span class="digit" id="hr">
            00
        </span> *@
@*         <span class="txt">Hr</span> *@
        <span class="digit" id="min">
            00
        </span>
        <span class="txt"> : </span>
        <span class="digit" id="sec">
            00
        </span>
        <span class="txt">Sec</span>
@*         <span class="digit" id="count">
            00
        </span> *@
    </div>
</div>

<div class="timer-container">
    <div id="countdown-timer">00:00:00</div>
    <button id="start-button">Start Timer</button>
    <button id="reduce-time-button">-30</button>
    <button id="add-time-button">+30</button>
</div>


<div class="row">
    <div class="col-md-12">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="WorkoutName" class="control-label"></label>
                <input asp-for="WorkoutName" class="form-control" />
                <span asp-validation-for="WorkoutName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<button id="addExerciseBtn" onClick="addExerciseBtnClicked()">Add an exercise</button>
<button id="submitWorkoutBtn" onClick="submitButtonClicked()">Submit workout</button>

<div>
    <a asp-action="Index">Back to List</a>
@*     <button id="addExerciseBtn" onClick="addExerciseBtnClicked">Add an exercise</button> *@
    @* <a asp-action="AddExercise">Add an exercise</a> *@
</div>


@* placeholder for populating exercises dynamically via the js script *@
<div id="activeWorkoutContainer" class="container col-sm-6 col-md-12">

</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        @* Placeholder div for loading the content into it *@
        <div class="dynamic-content">
        </div>
    </div>

</div>



<script src="~/js/workout_CreateWorkout.js"></script>