<!-- Expects a list of type ClientModel-->
@model PT_Management_System_V2.Models.ClientModel;


<h4>Details of a client </h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ClientFirstName)
    </dt>

    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.ClientFirstName)
    </dt>


    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ClientLastName)
    </dt>

    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.ClientLastName)
    </dt>
</dl>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}