@* @using PT_Management_System_V2.Data.PartialViewModels *@
@* _Notification.cshtml *@

@* @model Notification *@
@* <div id="notification" class="@Model.CssClass">
    @Model.Message
</div> *@

<div id="notification" class="hidden"></div>